/* MISC */
/* Variables root */
/* Colors */
/* Spacings */
/* Font-family */
/* Font-Sizes */
/* Normalize */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* html{
    font-size: 62.5%;
}
 */
a {
  color: #000000;
  text-decoration: none; }

img {
  width: 100%; }

/* Fuente */
body {
  padding-left: 5rem;
  padding-right: 5rem;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif; }

ul {
  list-style-type: none; }

/* PARTIALS */
#bodyStyle {
  background-image: url(../img/fondo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: lightgray;
  font-weight: 800;
  -webkit-text-stroke: 0.4px #1b1b1b; }
  #bodyStyle .headerStyle {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(antiquewhite, #e6b679, #e69935);
    padding-bottom: 1.5rem; }
    #bodyStyle .headerStyle .header__logo {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem; }
      #bodyStyle .headerStyle .header__logo .logo__image {
        width: 20rem; }
    #bodyStyle .headerStyle .menu {
      display: flex;
      justify-content: space-around;
      text-transform: uppercase;
      font-size: 1.5rem; }
      #bodyStyle .headerStyle .menu .menu__link:hover {
        background-color: rgba(252, 71, 0, 0.747);
        transition: background-color 1s; }

.footerStyle {
  background-image: linear-gradient(#e69935, #e6b679, antiquewhite);
  color: #000000; }
  .footerStyle .footerNav {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around; }
  .footerStyle .subsubtitleFormat {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .footerStyle .footerImages {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem; }

/* VIEWS */
#home .title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  #home .title .titleFormat {
    font-size: 3.5rem;
    color: #db6476;
    padding-bottom: 1rem;
    text-align: center; }
  #home .title .boxTitle {
    margin-bottom: 2rem; }
    #home .title .boxTitle .textDecoration {
      font-size: 1.5rem;
      align-items: center; }

#home .infoCard {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 2rem; }
  #home .infoCard .infoCard-card1 {
    width: 50%;
    text-align: center; }
    #home .infoCard .infoCard-card1 .subtitleFormat {
      font-family: "Roboto", sans-serif;
      color: #db6476;
      text-transform: uppercase;
      font-size: 2.5rem;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem; }
    #home .infoCard .infoCard-card1 .textDecoration__info {
      font-size: 1.5rem; }
  #home .infoCard .cover__img {
    width: 50%;
    display: flex;
    justify-content: center; }
    #home .infoCard .cover__img .img__app {
      padding-left: 2rem;
      animation-name: rotateMe;
      animation-duration: 10s;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-iteration-count: initial;
      animation-delay: 2s;
      animation-direction: alternate; }

@keyframes rotateMe {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(2deg); }
  75% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0deg); } }

#home .subtitleFormat {
  font-family: "Roboto", sans-serif;
  color: #db6476;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

#home .tarjet__container {
  display: flex;
  justify-content: center; }
  #home .tarjet__container .container__tarjet {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center; }
    #home .tarjet__container .container__tarjet .cervezaRubia {
      color: #b6d81d; }
    #home .tarjet__container .container__tarjet .subsubtitleFormat {
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    #home .tarjet__container .container__tarjet .image__tarjet {
      width: 24rem;
      height: 29rem;
      transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    #home .tarjet__container .container__tarjet .textCenter {
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 1rem; }
    #home .tarjet__container .container__tarjet .btn, #home .tarjet__container .container__tarjet .btn--aceptar, #home .tarjet__container .container__tarjet .btn--cancelar {
      width: 150px;
      padding: 10px 12px;
      font-size: 18px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border: none; }
    #home .tarjet__container .container__tarjet .btn--aceptar {
      background-color: antiquewhite; }
      #home .tarjet__container .container__tarjet .btn--aceptar:hover {
        background-color: #f5c381; }
    #home .tarjet__container .container__tarjet .btn--cancelar {
      background-color: #eb4f71; }
      #home .tarjet__container .container__tarjet .btn--cancelar:hover {
        background-color: #ee1d4a; }
  #home .tarjet__container .container__tarjet {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center; }
    #home .tarjet__container .container__tarjet .cervezaRubia {
      color: #b6d81d;
      text-align: center; }
    #home .tarjet__container .container__tarjet .subsubtitleFormat {
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    #home .tarjet__container .container__tarjet .image__tarjet {
      width: 24rem;
      height: 29rem;
      transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    #home .tarjet__container .container__tarjet .textCenter {
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 1rem; }
  #home .tarjet__container .container__tarjet {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center; }
    #home .tarjet__container .container__tarjet .cervezaRoja {
      color: #9e1414;
      text-align: center; }
    #home .tarjet__container .container__tarjet .subsubtitleFormat {
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    #home .tarjet__container .container__tarjet .image__tarjet:hover {
      width: 24rem;
      height: 29rem;
      transform: scale(1.04);
      transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    #home .tarjet__container .container__tarjet .textCenter {
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 1rem; }
  #home .tarjet__container .container__tarjet {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center; }
    #home .tarjet__container .container__tarjet .cervezaNegra {
      color: #2b2525;
      text-align: center; }
    #home .tarjet__container .container__tarjet .subsubtitleFormat {
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    #home .tarjet__container .container__tarjet .image__tarjet {
      width: 24rem;
      height: 29rem;
      transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    #home .tarjet__container .container__tarjet .textCenter {
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 1rem; }

#merchandising .title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  #merchandising .title .titleFormat {
    font-size: 3.5rem;
    color: #db6476;
    padding-bottom: 1rem;
    text-align: center; }
  #merchandising .title .boxTitle {
    margin-top: 2rem;
    margin-bottom: 2rem; }
    #merchandising .title .boxTitle .textDecoration {
      font-size: 1.5rem;
      align-items: center; }

#merchandising .tarjet__container {
  display: flex;
  justify-content: center; }
  #merchandising .tarjet__container .container__tarjet {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center; }
    #merchandising .tarjet__container .container__tarjet .textCenter {
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 1rem; }
    #merchandising .tarjet__container .container__tarjet .image__tarjet {
      width: 24rem;
      height: 29rem;
      transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    #merchandising .tarjet__container .container__tarjet .image__tarjet:hover {
      transform: scale(1.04); }

#nosotros .infoCard {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 2rem; }
  #nosotros .infoCard .infoCard-card1 {
    width: 50%;
    text-align: center; }
    #nosotros .infoCard .infoCard-card1 .title {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem; }
      #nosotros .infoCard .infoCard-card1 .title .titleFormat {
        font-size: 3.5rem;
        color: #db6476;
        padding-bottom: 1rem;
        text-align: center; }
      #nosotros .infoCard .infoCard-card1 .title .textDecoration__info {
        font-size: 1.5rem; }
    #nosotros .infoCard .infoCard-card1 .cover__img {
      width: 50%;
      display: flex;
      justify-content: center; }
      #nosotros .infoCard .infoCard-card1 .cover__img .img__app {
        padding-left: 2rem;
        animation-name: rotateMe;
        animation-duration: 10s;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation-iteration-count: initial;
        animation-delay: 2s;
        animation-direction: alternate; }

#ubicacion .infoCard {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 2rem; }
  #ubicacion .infoCard .infoCard-card1 {
    width: 50%;
    text-align: center; }
  #ubicacion .infoCard .title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    #ubicacion .infoCard .title .titleFormat {
      font-size: 3.5rem;
      color: #db6476;
      padding-bottom: 1rem;
      text-align: center; }
    #ubicacion .infoCard .title .textDecoration__info {
      font-size: 1.5rem; }
  #ubicacion .infoCard .cover__img {
    width: 50%;
    display: flex;
    justify-content: center; }
    #ubicacion .infoCard .cover__img .img__app {
      padding-left: 2rem;
      animation-name: rotateMe;
      animation-duration: 10s;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-iteration-count: initial;
      animation-delay: 2s;
      animation-direction: alternate; }

#registrate .textCenter {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem; }
  #registrate .textCenter .title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    #registrate .textCenter .title .titleFormat {
      font-size: 3.5rem;
      color: #db6476;
      padding-bottom: 1rem;
      text-align: center; }
    #registrate .textCenter .title .boxTitle {
      margin-top: 2rem;
      margin-bottom: 2rem; }
      #registrate .textCenter .title .boxTitle .textDecoration {
        font-size: 1.5rem;
        align-items: center; }
  #registrate .textCenter .subsubtitleFormat {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    #registrate .textCenter .subsubtitleFormat .titleFormat2 {
      color: #db6476;
      background-color: rgba(0, 0, 0, 0.473);
      text-align: center; }
  #registrate .textCenter .titleFormat3 {
    font-size: var(--text-small);
    color: #d6d6d6;
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center; }

/* MEDIAQUERY */
@media screen and (max-width: 1200px) {
  .infoCard {
    flex-direction: column; }
  .infoCard-card1 {
    padding-bottom: 1.5rem; }
  .tarjet__container {
    flex-direction: column; } }

@media screen and (max-width: 1115px) {
  .menu {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) {
  .infoCard-card1 {
    width: 50%; }
  .textDecoration__info {
    font-size: 1rem; }
  .cover__img {
    width: 100%; }
  .footerNav {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 480px) {
  .textCenter {
    font-size: 1rem; }
  .image__tarjet {
    width: 15rem;
    height: 15rem; }
  .footerImages {
    flex-direction: column;
    align-items: center; } }
