/* Variables root */
:root{
    /* Colors */
    --primary: #db6476;
    --secondary: #000000;
    --text-color: rgb(211, 211, 211);
    --special-one: #b6d81d;
    --special-two: rgb(158, 20, 20);
    --special-three: rgb(43, 37, 37);
    --border-white: 0.3px rgb(201, 201, 201);

    /* Spacings */
    --spacing-large: 5rem;
    --spacing-medium: 2rem;
    --spacing-small: 1.5rem;
    --spacing-xsmall: 1rem;

    /* Font-family */
    --font-principal: 'Poppins', sans-serif;
    --font-title: 'Roboto', sans-serif;

    /* Font-Sizes */
    --text-xlargue: 3.5rem;
    --text-medium: 2.5rem;
    --text-small: 2rem;
    --text-xsmall: 1.5rem;
    --text-base: 1rem;

}

/* Normalize */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 62.5%;
}
 */
a{
    color: var(--secondary);
    text-decoration: none;
}

img{
    width: 100%;
}

/* Fuente */

body{
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
    overflow-x: hidden;
    font-family: var(--font-principal);

}

ul{
    list-style-type: none;
}

/* Background Image */

#bodyStyle{
    background-image: url(img/fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--text-color);
    font-weight: 800;
    -webkit-text-stroke: 0.4px rgb(27, 27, 27);
}

/* Header */

.headerStyle{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(antiquewhite, rgb(230, 182, 121), rgb(230, 153, 53));
    padding-bottom: var(--spacing-small);
}

/* Logo */

.header__logo{
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-small);
}

.logo__image{
    width: 20rem;
}

/* Navegacion */

.nav__prop{
    display: flex;
}

.menu{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: var(--text-xsmall);
}

/* Titulos estilos */

.title{
    text-align: center;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

.boxTitle{
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

.titleFormat{
    font-size: var(--text-xlargue);
    color: var(--primary);
    padding-bottom: var(--spacing-xsmall);
    text-align: center;
}

.textDecoration{
    font-size: var(--text-xsmall);
    align-items: center;
}

.subtitleFormat{
    font-family: var(--font-title);
    color: var(--primary);
    text-transform: uppercase;
    font-size: var(--text-medium);
    text-align: center;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

.subsubtitleFormat{
    font-size: var(--text-small);
    margin-top: var(--spacing-xsmall);
    margin-bottom: var(--spacing-xsmall);
}

.textCenter{
    text-align: center;
    font-size: var(--text-xsmall);
    padding-bottom: var(--spacing-xsmall);
}

/* tarjetas, color titulo cervezas*/

.img__app{
    padding-left: var(--spacing-medium);
    animation-name: rotateMe;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: initial;
    animation-delay: 2s;
    animation-direction: alternate;
}

.infoCard{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: var(--spacing-medium);
}

.infoCard-card1{
    width: 50%;
    text-align: center;
}

.cover__img{
    width: 50%;
    display: flex;
    justify-content: center;
}

.textDecoration__info{
    font-size: var(--text-xsmall);
}

.cervezaRubia{
    color: var(--special-one);
    text-align: center;
}

.cervezaRoja{
    color: var(--special-two);
    text-align: center;
    
}

.cervezaNegra{
    color: var(--special-three);
    -webkit-text-stroke: var(--border-white);
    text-align: center;
}

.tarjet__container{
    display: flex;
    align-items: center;
}

.container__tarjet{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-medium);
}

/* .tarjet__picture{

} */

.image__tarjet{
    width: 24rem;
    height: 29rem;
    transition: transform .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


/* Footer */

.footerStyle{
    background-image: linear-gradient(rgb(230, 153, 53), rgb(230, 182, 121), antiquewhite);
    color: var(--secondary);
}

.footerNav{
    margin-top: var(--spacing-medium);
    display: flex;
    justify-content: space-around;
}
.footerImages{
    display: flex;
    justify-content: space-around;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

/* Merchandising */

.merchImages{
    display: flex;
    justify-content: space-between;
}

/*  alineador */

.alingItems{
    color: #801929;
    text-align: center;
    margin: var(--spacing-xsmall);
}

.titleFormat3{
    font-size: var(--text-small);
    color: #d6d6d6;
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center;

}
.titleFormat2{
    color: var(--primary);
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center;
}

/* Animaciones-Transformaciones */

@keyframes rotateMe {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.menu__link:hover{
    background-color:rgb(252, 71, 0);
    transition: background-color 1s;
}

.image__tarjet:hover{
    transform: scale(1.04);
}

/* Responsive */

/* @media screen and (max-width: 1265px){
    .tarjet__container{
        flex-direction: column;
        justify-content: center;
    }

} */