/* Eliminar decoraciones por defecto */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a{
    color: #000000;
    text-decoration: none;
}

img{
    width: 100%;
}
/* Fuente */

body{
    padding-left: 5rem;
    padding-right: 5rem;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}

/* Background Image */

#bodyStyle{
    background-image: url(img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
    font-weight: 800;
}

/* Header */

.headerStyle{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(antiquewhite, rgb(230, 182, 121), rgb(230, 153, 53));
    padding-bottom: 1.5rem;
    
}

/* Logo */

.header__logo{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.logo__image{
    width: 20rem;
}

/* Navegacion */

.nav__prop{
    display: flex;
}

.nav__ul{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* Titulos estilos */

.title{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.boxTitle{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.titleFormat{
    font-size: 3.5rem;
    color: #801929;
    text-align: center;
}

.textDecoration{
    font-size: 1.5rem;
    align-items: center;
}

.subtitleFormat{
    font-family: 'Roboto', sans-serif;
    color: #801929;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.subsubtitleFormat{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.textCenter{
    text-align: center;
    padding-bottom: 0.7rem;
}

/* tarjetas, color titulo cervezas*/

.img__app{
    padding-left: 1.5rem;
    animation-name: rotateMe;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: initial;
    animation-delay: 2s;
    animation-direction: alternate;
}

.infoCard{
    display: flex;
    align-items: center;
    width: 100%;
}

.infoCard-card1{
    width: 50%;
    text-align: center;
}

.cover__img{
    width: 50%;
    display: flex;
    justify-content: center;
}

.textDecoration__info{
    font-size: 1.2rem;
}

.cervezaRubia{
    color: #b6d81d;
    text-align: center;
}

.cervezaRoja{
    color: rgb(158, 20, 20);
    text-align: center;
    
}

/* modificaciones */

.cervezaNegra{
    color:rgb(39, 35, 35);
    text-align: center;
}

.tarjet__container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-width: content;
    grid-column-gap: 1rem;
}

.image__tarjet{
    width: 24rem;
    height: 29rem;
    transition: transform .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.container__tarjet{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-row-gap: 1rem
}

/* Footer */

.footerStyle{
    background-image: linear-gradient(rgb(230, 153, 53), rgb(230, 182, 121), antiquewhite);
}

.footerNav{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.footerImages{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Merchandising */

.merchImages{
    display: flex;
    justify-content: space-between;
}

/*  alineador */

.alingItems{
    color: #801929;
    text-align: center;
    margin: 1rem;
}

.titleFormat3{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center;

}
.titleFormat2{
    color: rgb(139, 0, 0);
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center;
}

/* Animaciones-Transformaciones */

@keyframes rotateMe {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.nav__li:hover{
    background-color:rgb(252, 71, 0);
    transition: background-color 1s;
}

.image__tarjet:hover{
    transform: scale(1.04);
}

/* Responsive */

@media screen and (max-width: 1265px){
    .tarjet__container{
        flex-direction: column;
        justify-content: center;
    }

}