
/* Footer */

.footerStyle{
    background-image: linear-gradient(rgb(230, 153, 53), rgb(230, 182, 121), antiquewhite);
}

.footerNav{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.footerImages{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
