/* Header */

.headerStyle{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(antiquewhite, rgb(230, 182, 121), rgb(230, 153, 53));
    padding-bottom: 1.5rem;
}
.header__logo{
display: flex;
justify-content: center;
margin-bottom: 1.5rem;
}
.logo__image{
    width: 20rem;
}

/* Navegacion */

.nav__prop{
    display: flex;
}

.nav__ul{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* Logo */



