#home{



.title{
    text-align: center;
    margin-top: $spacing-medium+2;
    margin-bottom: $spacing-medium+2;

    .titleFormat{
        font-size: $text-xlargue;
        color: $primary;
        padding-bottom: $spacing-xsmall;
        text-align: center;
    }
    .boxTitle{
        margin-top: map-get($spacings, $spacing-medium);
        margin-bottom: $spacing-medium;
        
        .textDecoration{
            font-size: $text-xsmall;
            align-items: center;
        }
    }
}

.infoCard{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: $spacing-medium;

    .infoCard-card1{
        width: 50%;
        text-align: center;

        .subtitleFormat{
            font-family: $font-title;
            color: $primary;
            text-transform: uppercase;
            font-size: $text-medium;
            text-align: center;
            margin-top: $spacing-medium;
            margin-bottom: $spacing-medium;
        }

        .textDecoration__info{
            font-size: $text-xsmall;
        }
    }

    .cover__img{
        width: 50%;
        display: flex;
        justify-content: center;

        .img__app{
            padding-left: $spacing-medium;
            animation-name: rotateMe;
            animation-duration: 10s;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-iteration-count: initial;
            animation-delay: 2s;
            animation-direction: alternate;
            
            @keyframes rotateMe {
                0% {
                    transform: rotate(0deg);
                }
            
                25% {
                    transform: rotate(2deg);
                }
            
                75% {
                    transform: rotate(-2deg);
                }
            
                100% {
                    transform: rotate(0deg);
                }
            }
        }
    }
}

.subtitleFormat{
    font-family: $font-title;
    color: $primary;
    text-transform: uppercase;
    font-size: $text-medium;
    text-align: center;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
}

.tarjet__container{
    display: flex;
    justify-content: center;

    .container__tarjet{
        display: flex;
        flex-direction: column;
        padding: $spacing-xsmall;
        align-items: center;

        .cervezaRubia{
            color: $special-one;
        }

        .subsubtitleFormat{
            font-size: $text-small;
            margin-top: $spacing-xsmall;
            margin-bottom: $spacing-xsmall;

        }
        .image__tarjet{
            width: 24rem;
            height: 29rem;
            transition: transform .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .textCenter{
            text-align: center;
            font-size: $text-xsmall;
            padding-bottom: $spacing-xsmall;
        }

        .btn{
            width: 150px;
            padding: 10px 12px;
            font-size: 18px;
            @include margin(0.5rem, 0.5rem);
            border: none;
        }

        .btn--aceptar{
            @extend .btn;
            background-color: antiquewhite;
            &:hover{
                background-color: rgb(245, 195, 129);
            }
        }

        .btn--cancelar{
            @extend .btn;
            background-color: rgb(235, 79, 113);
            &:hover{
                background-color: rgb(238, 29, 74);
            }
        }

    }

    .container__tarjet{
        display: flex;
        flex-direction: column;
        padding: $spacing-xsmall;
        align-items: center;

        .cervezaRubia{
            color: $special-one;
            text-align: center;
        }

        .subsubtitleFormat{
            font-size: $text-small;
            margin-top: $spacing-xsmall;
            margin-bottom: $spacing-xsmall;

        }
        .image__tarjet{
            width: 24rem;
            height: 29rem;
            transition: transform .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .textCenter{
            text-align: center;
            font-size: $text-xsmall;
            padding-bottom: $spacing-xsmall;
        }
    }

    .container__tarjet{
        display: flex;
        flex-direction: column;
        padding: $spacing-xsmall;
        align-items: center;

        .cervezaRoja{
            color: $special-two;
            text-align: center;
        }

        .subsubtitleFormat{
            font-size: $text-small;
            margin-top: $spacing-xsmall;
            margin-bottom: $spacing-xsmall;

        }
        .image__tarjet:hover{
            width: 24rem;
            height: 29rem;
            transform: scale(1.04);
            transition: transform .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .textCenter{
            text-align: center;
            font-size: $text-xsmall;
            padding-bottom: $spacing-xsmall;
        }
    }

    .container__tarjet{
        display: flex;
        flex-direction: column;
        padding: $spacing-xsmall;
        align-items: center;

        .cervezaNegra{
            color: $special-three;
            text-align: center;
        }

        .subsubtitleFormat{
            font-size: $text-small;
            margin-top: $spacing-xsmall;
            margin-bottom: $spacing-xsmall;

        }
        .image__tarjet{
            width: 24rem;
            height: 29rem;
            transition: transform .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .textCenter{
            text-align: center;
            font-size: $text-xsmall;
            padding-bottom: $spacing-xsmall;
        }
    }
}
}