/* Normalize */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 62.5%;
}
 */
a{
    color: $secondary;
    text-decoration: none;
}

img{
    width: 100%;
}

/* Fuente */

body{
    padding-left: $spacing-large;
    padding-right: $spacing-large;
    overflow-x: hidden;
    font-family: $font-principal;

}

ul{
    list-style-type: none;
}
