/* Variables root */
    /* Colors */
    $primary: #db6476;
    $secondary: #000000;
    $text-color: rgb(211, 211, 211);
    $special-one: #b6d81d;
    $special-two: rgb(158, 20, 20);
    $special-three: rgb(43, 37, 37);
    $border-white: 0.3px rgb(201, 201, 201);

    /* Spacings */
    $spacing-large: 5rem;
    $spacing-medium: 2rem;
    $spacing-small: 1.5rem;
    $spacing-xsmall: 1rem;

    $spacings:(
        spacing-large: 5rem,
        spacing-medium: 2rem,
        spacing-small: 1.5rem,
        spacing-xsmall: 1rem,
    );

    /* Font-family */
    $font-principal: 'Poppins', sans-serif;
    $font-title: 'Roboto', sans-serif;

    /* Font-Sizes */
    $text-xlargue: 3.5rem;
    $text-medium: 2.5rem;
    $text-small: 2rem;
    $text-xsmall: 1.5rem;
    $text-base: 1rem;